body{
    background-image: url('ejderya.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    max-width:1100px;
    margin:auto;
}
.input-container{
    text-align: center;
}

#navbar{
    color:#d8dae0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    text-align:center;
    justify-content:center;
    height:80px;
    margin:auto;
}
.bg-dark-blue{
    background: rgb(1, 21, 50);
    width: 100%;
    height: auto;
}
.test{
    font-size: 25px;
    text-align:center;
    justify-content:center;

}
.input-box{
    background: #fff;
    border-style: solid;
    border-color: black;
    width: 50%;
    height: 25px;
    max-width: 550px;
    border-radius: 5px;
    padding: 4px 10px;
    margin: 20px auto;
    display: flex;
    align-items: center;
}
.input-box input{
    width: 100%;
    padding: 2px 0;
    border: 0;
    font-size:15px; 
    outline: 0;
    color: rgb(8, 8, 8);
    margin: 4px 0;
    border-radius: 10px;
    text-align:center; }

.input-box img{
    margin-right: 5px;
    width: 15px;
    cursor: pointer;
 }
.item{
    display:inline-block;
    padding:4px;
    margin: auto;
    text-align: center;
    font-weight:bold;
}
p {
text-align: center;

}
p:hover{
    color:rgb(29, 2, 149);
    border-radius: 4px;
}
.number{
    text-align:justify;
    padding:4px;
    height: 35px;
}
.lowerUpper{
    text-align:justify;
    padding:4px;
    height: 35px;
}
.symbol{
    text-align:justify;
    padding:4px;
    height: 35px;
}
.log{
    text-align:justify;
    padding:4px;
    height: 35px;
}
h1{
    font-size:40px;
}
h2{
    font-size:15px;
    text-align:center;
}
h4{
    font-size:20px;
    justify-content:center;
    color: rgb(1, 21, 50);
    text-align:center;
    margin: auto;
}
.pp{
    font-weight:bold;
    font-size: 1.5em;
    color: rgb(1, 21, 50);
    height: auto;
}
.input-2{
    background: #fff;
    border-style: solid;
    border-color: black;
    width: 50%;
    height: 25px;
    max-width: 550px;
    border-radius: 5px;
    padding: 4px 10px;
    margin: 20px auto;
}
#complexity-span{
    width: 100% !important;
    height: auto;
    font-size:20px;
    font-weight:bold;
    padding:5px;
}
